
span.title{
    display: flex;
    justify-content: center;
    position: relative;
    width: 500px;
    height: 12px;
    top: -60px;
    font-size: 2em;
    font-weight: bolder;
}

body {
    display: flex;
    justify-content: center;
}

.todo-panel {
    width: 30em;
    min-height: 20em;
    margin-top: 6em;
    background-color: #FFFFF0  ;


    border: 1px solid #eee;
    box-shadow: 3px 3px 10px 1px #888;
}

.todo-editor{
    padding: 5px 20px;
    display: flex;
}

.todo-editor input {
    flex-grow: 1;
    font-size: 1.2em;
    padding: 2px 5px;
}

.todo-items {
    padding: 5px 20px;
}

.todo-items > .task {
    display: flex;
    align-items: center;
}

.todo-items > .task > input {
    width: 1.2em;
    height: 1.2em;
}

.todo-items > .task > label {
    flex-grow: 1;
    font-size: 1em;
    font-family: "Times New Roman", "SimSun";
}
    
.todo-items .ctrlbar > button {
    border: none;
    background: none;
    color: purple;
    cursor: pointer;
}

.todo-items .ctrlbar > button:disabled {
    color: red
    /*cursor: pointer; */
}

.todo-items .ctrlbar > button:disabled:hover {
    font-weight: unset;
}

.todo-items .ctrlbar > button:hover {
    font-weight: bolder;
}

.task.done > label {
    text-decoration: line-through;
    color:	#A9A9A9;
}
